
// Fetch recipients
$recipients = User::whereIn('role', ['project_manager', 'director'])->pluck('email');

// Send email notification
foreach ($recipients as $email) {
    Mail::to($email)->send(new RequisitionNotificationMail([
        'projectName' => $requisition->requisitionProject->projectName,
        'requisitionName' => $requisition->name,
        'submittedBy' => auth()->user()->name,
        'requisition_items' => $requisitionItems,
        'totalAmount' => $totalAmount,
        'description' => $request->description,
    ]));
}